*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
body{
    background-image: url("../images/twigs.jpeg");
    background-repeat: repeat;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2em;
    border-image: linear-gradient(to left, #BFB577, #E1D4A4) 1;
}
main{
    border-style: solid;
    border-width: 10px;
    border-image: linear-gradient(to right, #BFB577, #E1D4A4) 1;
    margin: 50px 50px 50px 50px;
    padding: 25px;
    height: 80vh;
}
h1{
    font-size: 4em;
    text-shadow: 0 5px #FDF5F1;
    color: #34424F;
    width: 80vh;
    height: 2em;
    background-color: #E0CC95;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 50px
    
}
#time{
    border-radius: 1px 10px;
    background-color: #E0CC95;
    width: 2em;
    height: 1.5em;
    font-size: 2em;
    margin: 0;
    padding: 5px;
}
#quizSection{
    background-color: #FDF5F1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 2px;
    background-color: #E0CC95;
    border-radius: 15px 50px
}
#quizQuestion{
    font-size: 2em;
    color: #34424F;
}
#quizQuestion-container{
    font-size: 2.5em;
    color: #E0CC95;
    text-shadow: 0 0 1px #34424F;
}
#quizOptions{
    display: grid;
    grid-template-rows: repeat(3, auto);
}
.option{
    font-size: 1.5em;
    height: 50px;
    text-align: left;
    color: #34424F;
    text-shadow: #E0CC95;
}
#controls{
    display: flex;
    justify-content: center;
}
.hide{
    display: none;
}
