*{
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
body{
    background-image: url("../images/twigs.jpg");
    background-repeat: repeat;
    height: 100vh;
    padding: 0;
    margin: 0;
    border-style: solid;
    border-width: 1.5em;
    border-image: linear-gradient(to left, #BFB577, #E1D4A4) 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main{
    border-style: solid;
    border-width: .5em;
    border-image: linear-gradient(to left, #BFB577, #E1D4A4) 1;
    margin: 1em;
    padding: 20px;
}

#contentSection{
    margin-top: 30px;
    padding: 20px;
    width: 500px;
    background-color: #FDF5F1;
    box-shadow: 0 0 5px 2px;
    background-color: #E0CC95;
    border-radius: 5px;
}

#welcomeContent{
    margin-top: 30px;
    padding: 20px;
    background-color: #FDF5F1;
    box-shadow: 0 0 5px 2px;
    background-color: #E0CC95;
    border-radius: 5px;

}
h1{
    text-align: center;
    font-size: 2em;
}

#controls{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#quizContent button{
    margin-left: 100px;
}

/* #instructions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.instructions h1{
    padding: 5px;
    margin: 10px 0px 30px 0px;
    width: 600px;
    border-radius: 1px 10px;
    font-size: 5em;
    text-align: center;
    color: #34424F;
    text-shadow: 0 5px #FDF5F1;
    background-color: #E0CC95;
}
#instructions p{
    font-size: 30px;
    padding: 20px;
    color: #34424F;
    background-color: #E0CC95;
    border-radius: 1px 10px;
    margin-top: 0px;
}
#time{
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    color: #34424F;
    background-color: #E0CC95;
    border-radius: 1px 10px;
    padding: 5px;
}
.hide{
    display: none;
}
#quizSection{
    margin-top: 30px;
    padding: 20px;
    background-color: #FDF5F1;
    box-shadow: 0 0 5px 2px;
    background-color: #E0CC95;
    border-radius: 5px;
}
#quizQuestion{
    font-size: 2em;
}
#quizOptions{
    display: flex;
    flex-direction: column;
}
.options{
    text-align: left;
    font-size: 1.5em;
}
#controls{
    background-color: #E0CC95;
    display: flex;
    margin: 0;
    padding: 0;
    width: 60px;
}
#startButton{
    font-size: 1.5em;
    color: #34424F;
    background-color: #E1D4A4;
}
 */
